@media (max-width: 1680px) {
  body {
    background-color:black;
    color: black;
  }

  .navContainer {
    background-color: black;
    border: solid #333C3F;
    height: 52px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
  }

  .left {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .mid {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .nlTab {
    border: solid red;
    border-width: .2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }

  .mainContainer {
    border: solid #333C3F;
    height: 600vh;
    display: flex;
    justify-content: space-evenly;
    border-width: .2px;
  }

  .leftBar {
    border: solid #333C3F;
    border-width: .2px;
    width: 20%;
    display: block;
  }

  .mainScrollContainer {
    border: solid black;
    border-width: .2px;
    width: 60%;
    display: block;
  }

  .rightBar {
    border: solid #333C3F;
    border-width: .2px;
    width: 20%;
    display: block;
  }

}

/*------- Desktop-------------------------- */
@media (max-width: 1280px) {
  body {
    background-color: black;
    color: salmon;

  }

  .navContainer {
    background-color: black;
    border: solid #333C3F;
    height: 52px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
  }

  .left {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .mid {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .nlTab {
    border: solid red;
    border-width: .2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }

  .mainContainer {
    border: solid black;
    height: 600vh;
    display: flex;
    justify-content: space-evenly;
    border-width: .2px;
  }

  .leftBar {
    border: solid #333C3F;
    border-width: .2px;
    width: 0%;
    display: none;
  }

  .mainScrollContainer {
    border: solid #333C3F;
    border-width: .2px;
    width: 70%;
    display: block;
  }

  .rightBar {
    border: solid #333C3F;
    border-width: .2px;
    width: 30%;
    display: block;
  }

}

/* -------------Ipad----------------------- */
@media (max-width: 680px) {
  body {
    background-color: black;
    color: white;

  }

  .navContainer {
    background-color: black;
    border: solid #333C3F;
    height: 52px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
  }

  .left {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .mid {
    width: 40%;
    display: none;
    justify-content: space-evenly;
    margin: 3px;
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
  }

  .nlTab {
    border: solid red;
    border-width: .2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }

  .mainContainer {
    border: solid #333C3F;
    height: 600vh;
    display: flex;
    justify-content: space-evenly;
    border-width: .2px;
  }

  .leftBar {
    /* border: solid white; */
    border-width: .2px;
    width: 0%;
    display: none;
  }

  .mainScrollContainer {
    padding-top:3vh;
    border: solid black;
    border-width: .2px;
    width: 100%;
    display: block;
  }

  .rightBar {
    border: solid black;
    border-width: .2px;
    width: 0%;
    display: none;
  }

}


/* -----------Mobile ----------------------*/

/* --------------------------------------- */
.categoryContainer {
  /*border: solid #333C3F;*/
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.icon {
  border: solid green;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.postContainer{
  border:solid white;
  border-width:.2px;
  margin-bottom:12vh;
  width:100%;
  /* height:61vh; */
  
}
.postMain{
  border:solid #333C3F;
  border-width:.2px;
  height:400px;
}
.btnContainer{
  /* border:solid #333C3F; */
  display:flex;
  justify-content: space-evenly;
  margin-top:8vh;
}
.btn{
  border:solid white;
  border-width:.2px;
  width:23%;
  height:25px;
  background-color:#333C3F;
  text-align:center;
}
.catcher{
  display:flex;
  justify-content: space-between;
  font-size:12px;
  margin:2em;
  text-align:right;
}
.commentContainer{
  border:solid lightblue;
  border-width:.2px;
  /* height:8vh; */
  margin-top:22px;
}
.postContainer2{
  border:solid white;
  border-width:.2px;
  margin-bottom:12vh;
  width:100%;
  /* height:61vh; */
  
}
.postHeader{
  
  background-color:#333C3F;
  height:6vh;
  display:flex;
  justify-content: space-between;
  
}
.proLeft{
  
  margin-top: 20px;
  margin-left: 10px;
  border: solid red;
  border-width: .2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.proRight{
  margin-top: 20px;
  margin-right: 10px;
  border: solid red;
  border-width: .2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.proMid{
  margin-top: 20px;
 
  
  border-width: .2px;
  width: 600px;
  height: 40px;
  
}
.text{
  font-size: 20px;
  color:black;
}
.mainImg{
  width:100%;
  height:100%;

}
.navimg{
  width:100%;
  height:100%;
  border-radius: 50%;
}
/*.limg2{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.limg3{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.rimg1{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.rimg2{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.rimg3{
  width:100%;
  height:100%;
  border-radius: 50%;
}

.mimg1{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.mimg2{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.mimg3{
  width:100%;
  height:100%;
  border-radius: 50%;
}*/
.pimg1{
  
  width:100%;
  height:100%;
  border-radius: 50%;
}
.exit{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.catBox{
  /*border:solid white;*/
 
 width:60%;
  color: white;
}
.btn1{
  border:solid black;
  background-color: black;
  width:100%;
  height:100%;
  color:white;
  text-align:center;
}
.btn1:hover{
  background-color:aqua;
  color:black;
}
